
header {
  color: cornflowerblue;
}

body {
  background-color: aliceblue;

    font-family: 'Monsterrat' , sans-serif;
}



li {
  text-decoration: underline;
}

nav {
  background-color: azure;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "open-sans", sans-serif;
  float: left;
  margin: 1%; 
}

li {
  list-style: square;
  font-family: "Indie FLower" , cursive;
}

h1 {
    margin: 1%;
    padding: 10px;
    font-family: "montserrat" , sans-serif;
    text-align: center;
}

h1.highlight {
    text-align: center;
    background-color: floralwhite;
}

img {
    border: 1px solid black;
    border-radius: 3px; 
    padding: 3px; 
    width: 200px;
}

img {
    float: inherit;
    margin: 10px; 
}

h2 {
    text-shadow: 2px 2px 5px grey;
}

.highlight p {
    background-color: aqua;
    padding: 3px;
}

p {
    border-style: dotted; 
    border-color: purple; 
    margin: 25px 50px;
}

p {
    text-align: center;
    font-family: "Montserrat" , sans-serif;
}

li:hover {
    font-size: 1.5em;
}

footer {
    padding: 20px;
    font-family: "open sans" , sans-serif;
    font-style: italic; 
    text-align: center;
}