header {
  color: cornflowerblue;
}

body {
  background-color: aliceblue;
    font-family: sans-serif;
}

li {
  text-decoration: underline;
}

nav {
  background-color: azure;
}

li {
  list-style: square; 
}

h1 {
    border: 1.5px solid purple;
    padding: 10px
}

img {
    border: 1px solid black;
    border-radius: 3px; 
    padding: 3px; 
    width: 200px;
}

h2 {
    text-shadow: 2px 2px 5px grey;
}

.highlight p {
    background-color: aqua;
}

li:hover {
    font-size: 1.5em
}
